/* cspell:disable */

:root {
  --body: 'Figtree', sans-serif;

  /* Update the JavaScript in baseof.html if you change the units from px. */
  --margin-top: 60px;

  --small: 0.9rem;

  --taller-gap: calc(var(--para-gap) * 1.5);
  --para-gap: 1.8rem;
  --small-gap: calc(var(--para-gap) / 2);

  --fore: black;
  --back: white;

  --h1: 2.4rem;
  --h2: 2.1rem;
  --h3: 1.6rem;
}

#content {
  margin-top: 3rem;
  padding-bottom: 8rem;
}

a {
  text-decoration: dotted underline;
  text-underline-offset: 0.2rem;
}

body {
  color: var(--fore);
  background: var(--back);

  font-family: var(--body);
  font-size: 1.2rem;
  font-weight: 500;

  letter-spacing: 0.015rem;
  line-height: 1.5;

  margin-inline: auto;
  max-width: 580px;

  width: 90vw;

  word-wrap: break-word;
}

h1,
h2,
h3 {
  font-weight: 800;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  border-bottom: 1px solid var(--light-gray);
  font-size: var(--h2);
  padding-bottom: 0.2rem;
}

h3 {
  font-size: var(--h3);
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  margin-inline: auto;
  max-width: 100%;
}

li {
  margin-bottom: var(--small-gap);
}

p {
  margin-bottom: var(--para-gap);
}

@media (prefers-color-scheme: light) {
  :root {
    --fore: black;
    --back: white;

    --gray: #444;
    --light-gray: #ccc;

    --code-back: lightyellow;
    --code-border: darkorange;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --fore: #ddd;
    --back: #111;

    --gray: #ccc;
    --light-gray: #444;

    --code-back: #222;
    --code-border: rgb(105, 112, 0);
  }

  a {
    color: cornflowerblue;
  }

  a:visited {
    color: plum;
  }
}

/*
iPad Mini: landscape.

Update the JavaScript in baseof.html if you change the min-width to transition
into landscape.
*/
@media screen and (min-width: 1125px) {
  :root {
    --h1: 4rem;

    /* Update image sizes if you change this. */
    --content-width: 620px;
    --page-width: 920px;
    --side-width: 220px;
  }

  #content {
    margin-top: 0;
  }

  #side {
    left: calc(calc(100vw / 2) - calc(var(--page-width) / 2));
    top: var(--margin-top);
    width: var(--side-width);
  }

  #side img {
    display: block !important;
  }

  #side #side_title {
    font-size: var(--small) !important;
    font-weight: 700;
  }

  #side_date {
    display: none;
  }

  #content {
    position: absolute;
    top: var(--margin-top);

    left: calc(
      calc(100vw / 2) - calc(var(--page-width) / 2) + var(--side-width) +
        calc(var(--page-width) - var(--side-width) - var(--content-width))
    );

    width: var(--content-width);
  }

  #single header {
    display: block !important;
    margin-bottom: 4rem;
  }
}

/* iPad Mini: landscape */
@media screen and (min-width: 1125px) and (min-height: 760px) {
  #side h2 {
    margin-top: 4rem !important;
  }
}

@media screen and (min-width: 1600px) {
  :root {
    --page-width: 1100px;
    --side-width: 350px;
  }
}
